{% extends "ProductPages/base.html" %} {% block content %}

<div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-md-6">
        <div class="card card-body">

            <h2 style="text-align: center;">Password Reset</h2>
            <form style="margin-top: 10%;" method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn btn-outline-success" style="color: red" type="submit">Send Confirmation Link</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}