{% extends "ProductPages/base.html" %} {% block content %}

<div class="row justify-content-center" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-md-6">
        <div class="card card-body">
            {% if validlink %}
            <h3 style="text-align: center;">Create New Password</h3>
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="btn" style="background-color: yellow; color: red" type="submit">Save</button>
            </form>
            {% else %}
            <p stry='color: red'>Invalid Token</p>
            <p>
                <a href="{% url 'Product:password_reset' %}">Request a new password token</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}