{% extends "ProductPages/base.html" %} {% block content %}

<br>
<div class="row justify-content-center" style="margin-top: 7%; margin-bottom: 7%;">
    <div class="col-md-6">
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <a style="margin-top: 1%; font-size: 75%;" href="{% url 'Products:password_reset' %}">Forget Password</a>
                <br>
                <br>
                <br>
                <a class="btn btn-outline-secondary" href="{% url 'Products:product-list' %}">&#8592; Back</a>
                <button class="btn btn-outline-info" style="color: red" type="submit">Login</button>
            </form>
            <br>
            <p style=" font-size: 75%;">If you don't have already account.
                <a href="{% url 'Products:register-request' %}">
                    <strong>Regiter</strong>
                </a> for one.
            </p>
        </div>
    </div>
</div>
{% endblock %}