{% extends "ProductPages/base.html" %} {% block content %}

<br>
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card card-body">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}{{ form.as_p }}
                <p style="margin-top: 5%;">
                    <button type="reset" class="btn btn-outline-warning" style="color: red; margin-right: 2%;">Clear</button>
                    <input class="btn btn-outline-success" style="color: red" type="submit" value="Save">
                </p>
            </form>
            <a class="btn btn-outline-dark" href="{% url 'Product:product-detail' id %}">&#8592; Back</a>
        </div>
    </div>
</div>
{% endblock %}{% url 'Product:product-detail' id %}
<button class="btn btn-outline-success" style="color: red" type="submit">Save</button>