<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if product_object_list.has_previous %}
            {% comment %} <li> <a class="page-link" href="?page=1" aria-label="Previous" >1</a> </li> {% endcomment %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_object_list.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for page_index in page_indexes %}
            <li class="page-item"><a class="page-link" href="?page= {{ page_index }}">{{ page_index }}</a></li>
        {% endfor %} 
        
        {% if product_object_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_object_list.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% comment %} <li> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">{{ page_obj.paginator.num_pages }}</a> </li> {% endcomment %}
        {% endif %}
    </ul>
</nav>

